body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color:azure;
}
h1 {
    color: cadetblue;
}
a {
    color:rgb(70, 70, 65);
    text-decoration: none;
}
a:hover {
    color:blue;
}
ul > li {
        font-weight: bold;
}
h1 + p{
    background-color: #161B22;
    padding: 10px;
    border-radius: 5px;
}
ul li:hover {
    color:#4F8CC9;
}
ul li:nth-child(3) {
    background-color: #21262D;
}
p:not(:first-of_type) {
    text-decoration: underline;
}
ul li::before {
    content: 🚀;
}
a::after {
    content:"🎆";
}
p::first-letter {
    font-size: 200%;
    color:#FF7B72;
}